<div class="filters">
  <button
    *ngFor="let tag of filterTags"
    [ngClass]="{ active: activeFilters.includes(tag) }"
    (click)="applyFilter(tag)"
  >
    {{ tag | titlecase }}
  </button>
  <button (click)="resetFilters()" class="resetButton">Reset Filters</button>
</div>

<div class="perfume-cards" @listAnimation>
  <div
    *ngFor="let perfume of filteredPerfumes; trackBy: trackByPerfume"
    class="perfume-card"
    [@listAnimation]
    (click)="openModal(perfume)"
  >
    <img [src]="perfume.image" alt="{{ perfume.name }}" />
    <h3>{{ perfume.name }}</h3>
  </div>
</div>

<div class="modal" *ngIf="selectedPerfume" (click)="closeModal($event)">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <img [src]="selectedPerfume.image" alt="{{ selectedPerfume.name }}" />
    <h2>{{ selectedPerfume.name }}</h2>
    <p>{{ selectedPerfume.description }}</p>
  </div>
</div>
