<div class="filters">
  <button (click)="applyFilter('fresh')">Fresh</button>
  <button (click)="applyFilter('floral')">Floral</button>
  <button (click)="applyFilter('male')">Male</button>
  <button (click)="applyFilter('female')">Female</button>
  <button (click)="resetFilters()">Reset Filters</button>
</div>

<div class="perfume-cards" @listAnimation>
  <div
    *ngFor="let perfume of filteredPerfumes; trackBy: trackByPerfume"
    class="perfume-card"
    [@listAnimation]
    (click)="openModal(perfume)"
  >
    <img [src]="perfume.image" alt="{{ perfume.name }}" />
    <h3>{{ perfume.name }}</h3>
  </div>
</div>

<div class="modal" *ngIf="selectedPerfume" (click)="closeModal($event)">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <img [src]="selectedPerfume.image" alt="{{ selectedPerfume.name }}" />
    <h2>{{ selectedPerfume.name }}</h2>
    <p>{{ selectedPerfume.description }}</p>
  </div>
</div>

